@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Define o modelo de caixa para incluir padding e borda no tamanho total do elemento */
}

html{
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
}

body {
    /* para navegadores antigos */
    background: #FEE7C3;

    /* Gradiente para navegadores modernos */
    background: linear-gradient(0deg, rgba(71, 191, 158, 1)  0%, rgba(254, 231, 195, 1) 100%);
    height: 100vh;
    margin: 0;
}



/*  Cabeçalho */
header{
    background-color: #001D47;
    color: #fff;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    max-width: 80px;
    height: 80px;
}


header .empresa{
    display: flex;
    flex-direction: row;
}

<<<<<<< HEAD
.navlist{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none;
}

li a{
    text-decoration: none;
    margin: 10px;
    color: #fff;
    font-size: 22px;
}

.usuario{
    display: flex;
    flex-direction: row;
    al
}





/* login */
.login-container{
=======
/* .introducao{
>>>>>>> f6fd16751ca92e53347ae5f6b340a14c964cd04a
    max-width:400px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 40px;
    text-align: center;
    background: #fdf3ffb1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Limita a largura máxima das seções */
    border: groove 2px #6D6D6D; /* Borda do aside  }*/
    
    .login {
        display: flex;
        flex-direction: row;
        justify-content: center; /* Centraliza tudo horizontalmente */
        align-items: flex-start; /* Alinha ao topo */
        gap: 40px; /* Espaço entre os containers */
        padding: 50px;
    }
    
    .login-container {
        width: 400px;
        margin: 100px auto;
        /* background: #fdf3ffb1;
        text-align: center;
        padding: 20px;
        box-sizing: border-box; */
    }
    

.password-toggle{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

@media{
    /*Diminuir container*/
}